/* LAYOUT */
.layout {
  min-height: 100vh; }

/* CONTAINER */
.container {
  width: 100%;
  padding: 0.5em;
  max-height: calc(100vh - 64px);
  overflow: auto; }
  .container.form {
    max-width: 500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
