.sider-menu {
  background-color: $c-white;

  .logo {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: $c-primary;

    &.icon {
      justify-content: center;

      .icon {
        color: $c-white;
      }
    }

    .title {
      color: $c-white;
      margin: 0;
      padding: 0;
      padding-left: 24px;
    }
  }

  &.test {
    .menu {
      max-height: calc(100vh - 64px - #{$height-test-stripe});
    }
  }

  .menu {
    padding: 0.5em 0;
    max-height: calc(100vh - 64px);
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }

    .menu-item,
    .ant-menu-inline {
      margin: 0;
      height: 50px;
      line-height: 50px;
      color: $c-text;
    }

    .menu-item:hover,
    .ant-menu-inline:hover {
      color: $c-secondary;
    }

    .ant-menu-item-group {
      .ant-menu-item-group-title {
        margin: 0;
        height: 50px;
        line-height: 50px;
        padding: 0 16px 0 24px;
        vertical-align: middle;
      }

      .ant-menu-item-group-list {
        .menu-item.ant-menu-item {
          padding: 0 16px 0 48px !important;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  .sider-menu {
    display: none;
  }
}
