.syntax-highlighter {
  width: 100%;
  border: 1px solid #ccc; }
  .syntax-highlighter.disabled .CodeMirror-scroll {
    background-color: #f7f7f7; }
  .syntax-highlighter-container {
    display: flex;
    flex-direction: column; }
    .syntax-highlighter-container .handle {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f7f7f7;
      height: 20px;
      user-select: none;
      cursor: row-resize;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
      .syntax-highlighter-container .handle .icon {
        width: 2.2em;
        height: 0.45em;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999; }
