.text-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  overflow-x: auto;

  p:first-child {
    font-weight: bold;
  }

  p {
    word-break: break-word;
    max-width: calc(50% - 0.5em);
    padding: 0 0.25em;
  }

  .pre {
    max-width: calc(50% - 0.5em);
    margin-bottom: 1em;
    padding: 0 0.25em;
  }

  @media screen and (max-width: $breakpoint-mini) {
    & {
      flex-direction: column;
    }

    p, .pre {
      max-width: 100%;
    }
  }
}
