/* COLORS */

$c-white: #fff;
$c-black: #000;
$c-text: #555;
$c-error: #ea5d5d;
$c-grey-dark: #646464;
$c-grey: lighten($c-black, 30);
$c-grey-light: #ededed;
$c-grey-very-light: #f7f7f7;
$c-blue-dark: #001529;
$c-blue-primary: #337ab7;
$c-blue-light: #bbddfe;
$c-blue-sky: #e0efff;
$c-green: #2ECC40;
$c-red: #FF4136;
$c-border: #e8e8e8;

$c-primary: $c-blue-dark;
$c-secondary: $c-blue-primary;

/* BREAKPOINTS */

$breakpoint-1600: 1600px;
$breakpoint-1100: 1100px;
$breakpoint-1000: 1000px;
$breakpoint-900: 900px;
$breakpoint-desktop: 800px;
$breakpoint-tablet: 600px;
$breakpoint-500: 500px;
$breakpoint-mobile: 400px;
$breakpoint-mini: 300px;
$breakpoint-200: 200px;
