body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: $c-text;
  overflow: hidden;
}

@media (max-width: $breakpoint-desktop) {
  body {
    overflow: auto;
  }
}

/* FLEX */

.flex {
  display: flex;

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-normal {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &-nowrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    &-nowrap {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;

      &.responsive {
        &-mobile {
          @media (max-width: $breakpoint-mobile) {
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-centered {
    justify-content: center;
    align-items: center;
  }

  &-center {
    align-items: center;
  }

  &-center-horizontal {
    justify-content: center;
  }

  &-top {
    align-items: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }

  &-bottom {
    align-items: flex-end;
  }

  &-spaced {
    justify-content: space-around;
    align-items: space-around;
    align-content: space-around;
  }

  &-space-between {
    justify-content: space-between;
  }
}

/* GAP */

.gap {
  gap: 2rem;

  &-none {
    gap: 0;
  }

  &-mini {
    gap: 0.25rem;
  }

  &-very-small {
    gap: 0.5rem;
  }

  &-small {
    gap: 1rem;
  }
}

/* WIDTH */

.width {
  &-full {
    width: 100%;
  }
  &-max {
    &-48 {
      max-width: 48%;
    }
  }
  &-min {
    &-px100 {
      min-width: 100px;
    }
    &-px200 {
      min-width: 200px;
    }
  }
}

/* HEIGHT */

.height {
  &-full {
    height: 100%;
  }
}

/* MARGIN */

.margin {
  margin: 2em;

  &-top {
    margin-top: 2em;

    &-small {
      margin-top: 1em;
    }

    &-very-small {
      margin-top: 0.5em;
    }

    &-mini {
      margin-top: 0.25em;
    }

    &-px1 {
      margin-top: 1px;
    }
  }

  &-bottom {
    margin-bottom: 2em;

    &-small {
      margin-bottom: 1em;
    }

    &-very-small {
      margin-bottom: 0.5em;
    }

    &-mini {
      margin-bottom: 0.25em;
    }

    &-none {
      margin-bottom: 0px;
    }

    &-px1 {
      margin-bottom: 1px;
    }
  }

  &-left {
    margin-left: 2em;

    &-small {
      margin-left: 1em;
    }

    &-very-small {
      margin-left: 0.5em;
    }

    &-mini {
      margin-left: 0.25em;
    }
  }

  &-right {
    margin-right: 2em;

    &-small {
      margin-right: 1em;
    }

    &-very-small {
      margin-right: 0.5em;
    }

    &-mini {
      margin-right: 0.25em;
    }
  }

  &-horizontal {
    margin: 0 2em;

    &-small {
      margin: 0 1em;
    }
  }

  &-vertical {
    margin: 2em 0;

    &-small {
      margin: 1em 0;
    }
  }

  &-none {
    margin: 0px;
  }
}

/* PADDING */

.padding {
  padding: 2em;

  &-small {
    padding: 1em;
  }

  &-very-small {
    padding: 0.5em;
  }

  &-top {
    padding-top: 2em;

    &-small {
      padding-top: 1em;
    }

    &-very-small {
      padding-top: 0.5em;
    }
  }

  &-bottom {
    padding-bottom: 2em;

    &-small {
      padding-bottom: 1em;
    }

    &-very-small {
      padding-bottom: 0.5em;
    }

    &-none {
      padding-bottom: 0px;
    }
  }

  &-horizontal {
    &-small {
      padding-left: 1em;
      padding-right: 1em;
    }

    &-very-small {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }

  &-none {
    padding: 0px;
  }
}

/* TEXT */

.text {
  &-right {
    text-align: right;
  }
  &-bold {
    font-weight: bold;
  }
}

/* DIVIDER */

.divider {
  &-top {
    border-top: 1px solid $c-border;
  }
  &-bottom {
    border-bottom: 1px solid $c-border;
  }
}

/* ICON */

.icon {
  cursor: pointer;
  color: $c-text;

  &:hover {
    color: $c-black;
  }
}

/* COMPONENTS */

select {
  cursor: pointer;
}

.checkbox {
  label {
    font-weight: 700;
    color: $c-disabled;
  }
}

/* ERROR */

.invalid {
  color: $c-error;
}

/* SUCCESS */
.success {
  color: $c-success;
}

/* COLORS */

.color {
  &-green {
    color: $c-green;
  }
  &-orange {
    color: $c-orange;
  }
  &-red {
    color: $c-red;
  }
  &-white {
    color: $c-white;
  }
}

/* ANT */
.ant {
  &-input {
    &-disabled {
      color: $c-disabled;
    }
    &-number {
      &-disabled {
        color: $c-disabled;
      }
    }
  }
  &-input,
  &-input-number {
    &.read-only {
      background-color: #f5f5f5;

      &:hover,
      &:focus {
        border-color: #d9d9d9;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  &-select {
    &-disabled {
      color: $c-disabled;
    }
  }
  &-card {
    &-body {
      padding: 1.5em;
    }
    &-head {
      padding: 0 1.5em;
      &-title {
        padding: 1em 0;
      }
    }
  }
}

.ant-menu-inline {
  .ant-menu-item {
    width: 100% !important;
  }
}

.ant-select-disabled .ant-select-selection--multiple .ant-select-selection__choice {
  color: $c-disabled;
}

/* VISIBILITY */

.hidden {
  display: none;
}

/* OTHER */

.pre {
  white-space: pre;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.table-checkbox {
  margin: 0;
}

.link {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.bold {
  font-weight: 700;
}

/* Dialog headings */

.h1-dialog {
  font-size: 24px;
  color: #555555;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.h2-dialog {
  font-size: 14px;
  color: #555555;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.hr-dialog {
  width: 50%;
  margin-left: 0em;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Overflow */

.auto-overflowX-visible-only-on-hover {
  overflow: hidden;

  &:hover {
    overflow-x: auto;
  }
}

.auto-overflowY-visible-only-on-hover {
  overflow: hidden;

  &:hover {
    overflow-y: auto;
  }
}
