RewriteEngine On
# RewriteBase /
# front controller

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(html|js|css|jpg|png|ttf|woff|eot|map|pdf|ico|gif|zip|tar\.gz)$ index.html [L]

<filesMatch "\.(html|htm|js|css)$">
  SetOutputFilter DEFLATE
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>